cache-dir = ".cache/ruff"
extend-exclude = [".cache"]
fix = true
line-length = 90
preview = true
src = [".", "src", "tests"]
target-version = "py313"

[format]
docstring-code-format = true
line-ending = "lf"

[lint]
select = ["ALL"]
ignore = [
  # Missing docstring in public module
  "D100",
  # Missing docstring in public class
  "D101",
  # Missing docstring in public method
  "D102",
  # Missing docstring in public function
  "D103",
  # Missing docstring in public package
  "D104",
  # Missing docstring in magic method
  "D105",
  # Missing docstring in __init__
  "D107",
  # `return` is not documented in docstring
  "DOC201",
  # Trailing comma missing
  "COM812",
  # Implicitly concatenated string literals on one line
  "ISC001",
  # http
  "TRY301",
]
typing-modules = ["numpy.typing"]

[lint.per-file-ignores]
"**/tests/**/*" = [
  # Missing docstring in public function
  "D103",
  # Use of assert detected
  "S101",
  # Possible hardcoded password
  "S106",
  # Magic value used in comparison, consider replacing `5` with a constant variable
  "PLR2004",
]

[lint.flake8-boolean-trap]
extend-allowed-calls = ["pydantic.Field"]

[lint.flake8-builtins]
builtins-allowed-modules = ["types"]

[lint.flake8-import-conventions.extend-aliases]
scipy = "sp"

[lint.flake8-pytest-style]
fixture-parentheses = true
mark-parentheses = true

[lint.flake8-tidy-imports]
ban-relative-imports = "all"

[lint.flake8-type-checking]
exempt-modules = ["typing", "typing_extensions"]
runtime-evaluated-base-classes = ["pydantic.BaseModel", "pydantic_settings.BaseSettings"]
runtime-evaluated-decorators = [
  "pydantic.validate_call",
  "fastapi.APIRouter.get",
  "fastapi.APIRouter.put",
  "fastapi.APIRouter.post",
  "fastapi.APIRouter.delete",
]
strict = true

[lint.isort]
length-sort = true
lines-after-imports = 2
required-imports = ["from __future__ import annotations"]
section-order = [
  "future",
  "standard-library",
  "third-party",
  "testing",
  "first-party",
  "local-folder",
]

[lint.isort.sections]
testing = ["pytest", "pytest_mock", "numpy.testing", "hypothesis", "respx"]

[lint.mccabe]
max-complexity = 6

[lint.pep8-naming]
classmethod-decorators = ["pydantic.validator"]
staticmethod-decorators = []

[lint.pycodestyle]
max-doc-length = 80

[lint.pydocstyle]
convention = "google"

[lint.pylint]
max-args = 8
